<div class="container text-center">

  <p class="mb-5">ようこそSTAR PIANOへ！<br><br>まずはログインしてみましょう。</p><br>

  <div class="mx-auto">
      <%= link_to new_student_session_path, class: "btn btn-info" do %>生徒としてログイン<% end %>&emsp;
      <%= link_to new_teacher_session_path, class: "btn btn-info" do %>先生としてログイン<% end %>&emsp;
      <%= link_to new_admin_session_path, class: "btn btn-info" do %>管理者としてログイン<% end %>
  </div>

  <p class="mt-5"><b>新規会員登録はこちら</b></p><br>

  <div class="mx-auto">
    <%= link_to new_student_registration_path, class: "btn btn-info" do %>生徒として登録<% end %>&emsp;
    <%= link_to new_teacher_registration_path, class: "btn btn-info" do %>先生として登録<% end %>
  </div>


<div>